<!DOCTYPE html>
<html lang="{{.Site.Params.language}}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $styles := resources.Get "scss/main.scss" | toCSS }} 
    <link rel="stylesheet" id="relparmalink" href="{{ $styles.RelPermalink }}">  
    <link rel="stylesheet" id="permalink" href="{{ $styles.Permalink }}">
    <link id="testforpermalink" href="{{.Permalink}}">
  </head>

  <body>